.actor__container{
    background-color: #ffffff;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.actor__container--header{
    padding: 20px;
    border-bottom: #e9e9e9 solid 1px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.actor__container--content{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.actor__movies--header{
    padding-top: 20px;
    background-color: #1890ff;
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 1;
}
.actor__movies--header h1{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}
.actor__about{
    width: 25%;
    max-width: 250px;
    margin: 20px auto;
    max-height: 60vh;
    position: relative;
}
.actor__movies{
    width: 70%;
    border-left: #e9e9e9 solid 1px;
    overflow-y: scroll;
    max-height: 60vh;
}